@{
    ViewData["Title"] = "Backoffice";
}

<div class="text-center">
    <h2>Welcome to the Backoffice</h2>
</div>

<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="btn btn-secondary float-start" asp-area="" asp-controller="Books" asp-action="Books" id="a_div">Books</a>
            <a class="btn btn-secondary float-end" asp-area="" asp-controller="Books" asp-action="Deliveries" id="a2_div">Deliveries</a> @* chatice aqui. como posso melhorar a estetica *@
        </div>
    </nav>
</header>