@{
    ViewData["Title"] = "Backoffice";
}

<div class="text-center">
    <h2>Welcome to the Backoffice</h2>
</div>

<header>
    <div class="bg-body-tertiary align-content-center">
        @* <div class="container-fluid"> *@
        <div class="d-flex flex-column align-items-center ">
            <a class="btn btn-secondary mb-2" asp-area="" asp-controller="Books" asp-action="Books" id="a_div">Books</a>
            <a class="btn btn-secondary float-end" asp-area="" asp-controller="Books" asp-action="Deliveries" id="a_div">Deliveries</a> 
        </div>
    </div>
</header>