html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bookCover {
    width: 100%;
    max-width: 150px;
    height: auto;
    align-self: center;
    max-height: 13rem;
    margin: 0.7rem;
    margin-bottom: 0;
}

.BookCard {
    max-width: 30%;
    margin: 2rem;
}

.BookButtons {
    display: flex;
    justify-content: space-between;
}

.BookButton {
    border: 1px solid rgba(0, 0, 0, 0.25);
}