html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* inicio do css que diz respeito a parte do register */
.maindivregister {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    border: 2px solid rgba(64, 64, 64, 0.3); /* Define os limites */
}

#registertitle {
    font-family: 'Georgia', serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* fim do css que diz respeito a parte do register */

/* inicio do css que diz respeito a parte do login */
.maindivlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-left: 33%;
}
/* fim do css que diz respeito a parte do login */

.col-md-8 {
    line-height: 10px;
}

.bookCover {
    width: 100%;
    max-width: 150px;
    height: auto;
    align-self: center;
    max-height: 13rem;
    margin: 0.7rem;
    margin-bottom: 0;
}

.BookCard {
    max-width: 30%;
    margin: 2rem;
}

.BookButtons {
    display: flex;
    justify-content: space-between;
}

.BookButton {
    border: 1px solid rgba(0, 0, 0, 0.25);
}